workflows/AI Op Model - Lead Gen (Google Sheets Edition).json
{
  "name": "AI Op Model - Lead Gen (Google Sheets Edition)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1FiGZiM8_Fx-MWeIlXkZgNWcr3UOPZlP3",
          "mode": "list",
          "cachedResultName": "Carbon",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1FiGZiM8_Fx-MWeIlXkZgNWcr3UOPZlP3"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "4cd4d99c-4c2b-4f65-9b78-633b87d38a56",
      "name": "Watch Drive Folder",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        4704,
        2176
      ],
      "webhookId": "watch-inbox-folder-sheets",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "jrrGiTi0hZpxZAEd",
          "name": "Local "
        }
      }
    },
    {
      "parameters": {
        "content": "## GOOGLE SHEETS WORKFLOW\n\n**Master Spreadsheet:** AI Op Model Pipeline\n\n**5 Tabs:**\n1. Companies\n2. Decision_Makers\n3. Outreach\n4. Follow_Ups\n5. Weekly_Reports\n\n**Key Differences from Airtable:**\n- No linked records (uses foreign key UUIDs)\n- Manual filtering in Code nodes\n- Row lookups for updates\n- Single spreadsheet, multiple sheets\n\n**Setup:** Create spreadsheet, share with n8n service account, get spreadsheet ID"
      },
      "id": "0040a439-c57f-48d5-83fa-cb6c7d653756",
      "name": "Workflow Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4704,
        1968
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {}
          },
          "fileName": "Lead_Upload_Templates"
        }
      },
      "id": "3f9fc284-c259-4e1b-bf9d-a1e2915a31af",
      "name": "Download Lead File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4928,
        2176
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "jrrGiTi0hZpxZAEd",
          "name": "Local "
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1FiGZiM8_Fx-MWeIlXkZgNWcr3UOPZlP3",
          "mode": "list",
          "cachedResultName": "Carbon",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1FiGZiM8_Fx-MWeIlXkZgNWcr3UOPZlP3"
        }
      },
      "id": "4347da51-c379-4abc-81bb-e5011f1c866e",
      "name": "Move to Processing",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        5152,
        2176
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "jrrGiTi0hZpxZAEd",
          "name": "Local "
        }
      }
    },
    {
      "parameters": {
        "options": {
          "sheetName": "Lead_Upload_Templates"
        }
      },
      "id": "9cb71cd9-2dd3-4fae-a4dd-128db50d74cb",
      "name": "Parse CSV/Excel",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        5376,
        2176
      ]
    },
    {
      "parameters": {
        "jsCode": "// Validate and clean lead data + generate UUIDs\nconst items = $input.all();\nconst validLeads = [];\nconst invalidLeads = [];\n\n// UUID generator function\nfunction generateUUID() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nfor (const item of items) {\n  const lead = item.json;\n  \n  // Required fields validation\n  const companyName = lead.Company_Name || lead['Company Name'] || lead.company_name || '';\n  const website = lead.Website || lead.website || lead.URL || '';\n  \n  if (!companyName || !website) {\n    invalidLeads.push({\n      ...lead,\n      validation_error: 'Missing required fields: Company_Name or Website'\n    });\n    continue;\n  }\n  \n  // Clean and normalize data with UUID\n  const cleanedLead = {\n    record_id: generateUUID(),\n    company_name: companyName.trim(),\n    website: website.trim().replace(/^https?:\\/\\/(www\\.)?/, '').replace(/\\/$/, ''),\n    industry: lead.Industry || lead.industry || 'Unknown',\n    country: lead.Country || lead.country || 'Unknown',\n    employee_count: lead.Employee_Count || lead['Employee Count'] || '',\n    tech_signals: '',\n    news_mentions: '',\n    lead_score: '',\n    priority_tier: '',\n    upload_date: new Date().toISOString().split('T')[0],\n    enrichment_status: 'Pending',\n    source_file: $('Watch Drive Folder').item.json.name\n  };\n  \n  validLeads.push({ json: cleanedLead });\n}\n\n// Output both valid and invalid leads to different paths\nreturn [validLeads, invalidLeads];"
      },
      "id": "4f2ff57a-0e4d-4aa2-956f-fae80d017f43",
      "name": "Validate & Clean Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5584,
        2176
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1IVSwPHlaVLaGR0RrffknqmZvjdW00d6ZmHvcjr-NE_M",
          "mode": "list",
          "cachedResultName": "Lead_Upload_Templates",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IVSwPHlaVLaGR0RrffknqmZvjdW00d6ZmHvcjr-NE_M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 571418899,
          "mode": "list",
          "cachedResultName": "Lead_Upload_Template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IVSwPHlaVLaGR0RrffknqmZvjdW00d6ZmHvcjr-NE_M/edit#gid=571418899"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Record_ID": "={{ $json.record_id }}",
            "Company_Name": "={{ $json.company_name }}",
            "Website": "={{ $json.website }}",
            "Industry": "={{ $json.industry }}",
            "Country": "={{ $json.country }}",
            "Employee_Count": "={{ $json.employee_count }}",
            "Tech_Signals": "={{ $json.tech_signals }}",
            "News_Mentions": "={{ $json.news_mentions }}",
            "Lead_Score": "={{ $json.lead_score }}",
            "Priority_Tier": "={{ $json.priority_tier }}",
            "Upload_Date": "={{ $json.upload_date }}",
            "Enrichment_Status": "={{ $json.enrichment_status }}"
          },
          "matchingColumns": [
            "Record_ID"
          ],
          "schema": [
            {
              "id": "Record_ID",
              "displayName": "Record_ID",
              "required": false,
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company_Name",
              "displayName": "Company_Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "Employee_Count",
              "displayName": "Employee_Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "Tech_Signals",
              "displayName": "Tech_Signals",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "News_Mentions",
              "displayName": "News_Mentions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "Lead_Score",
              "displayName": "Lead_Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "Priority_Tier",
              "displayName": "Priority_Tier",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "Upload_Date",
              "displayName": "Upload_Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "Enrichment_Status",
              "displayName": "Enrichment_Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "68e05f54-7cea-4d5b-bc7f-f675fdcba204",
      "name": "Write to Sheets - Companies",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        5808,
        2176
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HSKZd2nGiLCRcvQ9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## ENRICHMENT LAYER\n\n**Data Sources:**\n- Tavily: Company research, news, tech signals\n- Hunter.io: Decision maker email finding\n\n**Google Sheets difference:**\n- Store foreign key UUIDs instead of linked records\n- All relationships managed in workflow logic\n\n**Output:**\n- Decision maker names\n- Verified email addresses\n- Recent news mentions\n- AI/tech transformation signals\n- Lead scoring (0-100)"
      },
      "id": "95ad33b9-e711-4f6e-a598-3a9ad857688a",
      "name": "Enrichment Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5808,
        1968
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "record_id",
              "name": "record_id",
              "type": "string",
              "value": "={{ $json.Record_ID }}"
            },
            {
              "id": "company_name",
              "name": "company_name",
              "type": "string",
              "value": "={{ $json.Company_Name }}"
            },
            {
              "id": "website",
              "name": "website",
              "type": "string",
              "value": "={{ $json.Website }}"
            },
            {
              "id": "industry",
              "name": "industry",
              "type": "string",
              "value": "={{ $json.Industry }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f1d95775-4a1d-4d64-bb86-d56a0727cb24",
      "name": "Extract Company Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6032,
        2176
      ]
    },
    {
      "parameters": {
        "query": "={{ $json.company_name }} AI transformation consulting digital strategy news 2024 2025",
        "options": {}
      },
      "id": "e980fccf-3f0e-4d34-884c-93b94d982378",
      "name": "Research Company - Tavily",
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        6304,
        1904
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hunter.io/v2/domain-search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "={{ $json.website }}"
            },
            {
              "name": "api_key",
              "value": "=7ddcf2839ca398e656fe65d9082886bc13a30ae9"
            },
            {
              "name": "type",
              "value": "personal"
            },
            {
              "name": "seniority",
              "value": "senior,executive"
            },
            {
              "name": "department",
              "value": "executive,it,operations"
            }
          ]
        },
        "options": {}
      },
      "id": "fad5fe31-dd5c-4f2e-87b4-3badf8492006",
      "name": "Find Decision Makers - Hunter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6464,
        2176
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "kgW6psgN1VS5TXcR",
          "name": "Tavily"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Process Tavily research results\nconst tavilyData = $('Research Company - Tavily').first().json;\nconst hunterData = $('Find Decision Makers - Hunter').first().json;\nconst companyData = $('Extract Company Data').first().json;\n\n// Extract tech signals from Tavily results\nlet techSignals = [];\nlet newsMentions = [];\n\nif (tavilyData.results && Array.isArray(tavilyData.results)) {\n  tavilyData.results.forEach(result => {\n    const content = (result.content || '').toLowerCase();\n    \n    // Tech signal detection\n    const signals = [\n      'ai transformation',\n      'digital transformation',\n      'automation',\n      'machine learning',\n      'artificial intelligence',\n      'consulting',\n      'technology partner',\n      'digital strategy'\n    ];\n    \n    signals.forEach(signal => {\n      if (content.includes(signal)) {\n        techSignals.push(signal);\n      }\n    });\n    \n    // News mentions\n    if (result.published_date) {\n      newsMentions.push({\n        title: result.title,\n        url: result.url,\n        date: result.published_date,\n        snippet: result.content.substring(0, 200)\n      });\n    }\n  });\n}\n\n// Remove duplicates from tech signals\ntechSignals = [...new Set(techSignals)];\n\n// Process Hunter decision makers\nlet decisionMakers = [];\nif (hunterData.data && hunterData.data.emails) {\n  hunterData.data.emails.forEach(email => {\n    const position = (email.position || '').toLowerCase();\n    const targetTitles = [\n      'director', 'chief', 'vp', 'head of', 'senior',\n      'digital', 'transformation', 'operations', 'procurement'\n    ];\n    \n    const isRelevant = targetTitles.some(title => position.includes(title));\n    \n    if (isRelevant && email.confidence > 70) {\n      decisionMakers.push({\n        full_name: `${email.first_name} ${email.last_name}`,\n        job_title: email.position,\n        email: email.value,\n        linkedin_url: email.linkedin || '',\n        confidence: email.confidence,\n        found_via: 'Hunter.io'\n      });\n    }\n  });\n}\n\n// Calculate lead score (0-100)\nlet score = 0;\n\n// Tech signals present (40 points max)\nscore += Math.min(techSignals.length * 8, 40);\n\n// Decision makers found (30 points max)\nscore += Math.min(decisionMakers.length * 15, 30);\n\n// Recent news mentions (20 points max)\nconst recentNews = newsMentions.filter(news => {\n  const newsDate = new Date(news.date);\n  const sixMonthsAgo = new Date();\n  sixMonthsAgo.setMonth(sixMonthsAgo.getMonth() - 6);\n  return newsDate > sixMonthsAgo;\n});\nscore += Math.min(recentNews.length * 5, 20);\n\n// Industry bonus (10 points)\nconst targetIndustries = ['consulting', 'technology', 'professional services'];\nif (targetIndustries.some(ind => companyData.industry.toLowerCase().includes(ind))) {\n  score += 10;\n}\n\n// Determine priority tier\nlet priorityTier = 'Cold';\nif (score >= 80) priorityTier = 'Hot';\nelse if (score >= 50) priorityTier = 'Warm';\n\nreturn {\n  json: {\n    record_id: companyData.record_id,\n    company_name: companyData.company_name,\n    website: companyData.website,\n    tech_signals: techSignals.join(', '),\n    news_mentions: JSON.stringify(newsMentions.slice(0, 5)),\n    decision_makers: decisionMakers,\n    lead_score: Math.round(score),\n    priority_tier: priorityTier,\n    enrichment_date: new Date().toISOString().split('T')[0]\n  }\n};"
      },
      "id": "a2219a40-0670-4405-91cd-24e792992384",
      "name": "Process Enrichment Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6688,
        2176
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1IVSwPHlaVLaGR0RrffknqmZvjdW00d6ZmHvcjr-NE_M",
          "mode": "list",
          "cachedResultName": "Lead_Upload_Templates",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IVSwPHlaVLaGR0RrffknqmZvjdW00d6ZmHvcjr-NE_M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 571418899,
          "mode": "list",
          "cachedResultName": "Lead_Upload_Template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IVSwPHlaVLaGR0RrffknqmZvjdW00d6ZmHvcjr-NE_M/edit#gid=571418899"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Record_ID": "={{ $json.record_id }}",
            "Tech_Signals": "={{ $json.tech_signals }}",
            "News_Mentions": "={{ $json.news_mentions }}",
            "Lead_Score": "={{ $json.lead_score }}",
            "Priority_Tier": "={{ $json.priority_tier }}",
            "Enrichment_Status": "Enriched"
          },
          "matchingColumns": [
            "Record_ID"
          ],
          "schema": [
            {
              "id": "Record_ID",
              "displayName": "Record_ID",
              "required": false,
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "Tech_Signals",
              "displayName": "Tech_Signals",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "News_Mentions",
              "displayName": "News_Mentions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "Lead_Score",
              "displayName": "Lead_Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "Priority_Tier",
              "displayName": "Priority_Tier",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "Enrichment_Status",
              "displayName": "Enrichment_Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "09ed0d99-d9f8-4dea-b665-1a7223938ff8",
      "name": "Update Company Record",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        6912,
        2176
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HSKZd2nGiLCRcvQ9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a28c9849-30d6-4b1b-820a-f03f7e4c3f3d",
      "name": "Loop Decision Makers",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        7136,
        2176
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract decision maker from loop and generate UUID\nconst enrichmentData = $('Process Enrichment Data').first().json;\nconst decisionMakers = enrichmentData.decision_makers || [];\nconst batchIndex = $('Loop Decision Makers').context.noItemsLeft ? 0 : $('Loop Decision Makers').context.currentRunIndex;\n\n// UUID generator\nfunction generateUUID() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nif (decisionMakers.length === 0) {\n  return {\n    json: {\n      skip_outreach: true,\n      reason: 'No decision makers found'\n    }\n  };\n}\n\nconst dm = decisionMakers[batchIndex] || decisionMakers[0];\n\nreturn {\n  json: {\n    dm_record_id: generateUUID(),\n    company_record_id: enrichmentData.record_id,\n    company_name: enrichmentData.company_name,\n    website: enrichmentData.website,\n    tech_signals: enrichmentData.tech_signals,\n    news_mentions: enrichmentData.news_mentions,\n    lead_score: enrichmentData.lead_score,\n    priority_tier: enrichmentData.priority_tier,\n    decision_maker_name: dm.full_name,\n    decision_maker_title: dm.job_title,\n    decision_maker_email: dm.email,\n    decision_maker_linkedin: dm.linkedin_url,\n    skip_outreach: false\n  }\n};"
      },
      "id": "b274c472-2671-491d-ac7c-64283733a575",
      "name": "Prepare Decision Maker Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7344,
        2176
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IVSwPHlaVLaGR0RrffknqmZvjdW00d6ZmHvcjr-NE_M",
          "mode": "list",
          "cachedResultName": "Lead_Upload_Templates",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IVSwPHlaVLaGR0RrffknqmZvjdW00d6ZmHvcjr-NE_M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 571418899,
          "mode": "list",
          "cachedResultName": "Lead_Upload_Template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IVSwPHlaVLaGR0RrffknqmZvjdW00d6ZmHvcjr-NE_M/edit#gid=571418899"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company_Name",
              "displayName": "Company_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Employee_Count",
              "displayName": "Employee_Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "45bb5aa1-5643-4f8e-b9c6-c74033d566b5",
      "name": "Write Decision Maker to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        7568,
        2176
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HSKZd2nGiLCRcvQ9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## OUTREACH GENERATION\n\n**AI Agent:** GPT-4o-mini\n\n**Google Sheets approach:**\n- Foreign key UUIDs stored\n- All relationships in workflow logic\n- No database-style links\n\n**Output:**\n- Personalized email subject\n- Email body (300-400 words)\n- Call-to-action\n\n**Style:**\n- Consultant voice\n- Value-focused\n- No jargon\n- Direct benefits"
      },
      "id": "f15c8f46-50f3-43bc-8d53-df4a5345e031",
      "name": "Outreach Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7568,
        1968
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a senior digital transformation consultant drafting a personalized outreach email.\n\n**SENDER CONTEXT:**\nCompany: Carbon and Code\nSender: Craig Spence, Director\nOffering: AI Operating Model - Automated audit workflow for AI transformation consulting\nValue Prop: Reduces consultant overhead by 80%+ through automated delivery, targeting $50B+ AI transformation market\n\n**RECIPIENT CONTEXT:**\nCompany: {{ $json.company_name }}\nRecipient: {{ $json.decision_maker_name }}\nTitle: {{ $json.decision_maker_title }}\nIndustry: {{ $('Extract Company Data').item.json.industry }}\n\n**INTELLIGENCE GATHERED:**\nTech Signals: {{ $json.tech_signals }}\nRecent Activity: {{ $json.news_mentions }}\nLead Score: {{ $json.lead_score }}/100\nPriority: {{ $json.priority_tier }}\n\n**TASK:**\nDraft a personalized email that:\n1. References their specific role and company context\n2. Connects their tech signals to our AI Op Model solution\n3. Positions this as peer-to-peer consultant conversation\n4. Highlights automation of audit delivery (not generic consulting)\n5. Proposes 15-minute exploratory call\n6. No jargon, no fluff, direct value\n\n**TONE:**\n- Consultant to consultant\n- Confident but not salesy\n- Specific, not generic\n- Data-driven\n- Respectful of their time\n\n**OUTPUT FORMAT (JSON):**\n{\n  \"subject\": \"Subject line (max 60 chars)\",\n  \"body\": \"Email body (300-400 words, plain text)\"\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "39f41567-9520-40b7-ae4c-e99e69a15907",
      "name": "AI Email Generator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        7792,
        2176
      ]
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 1000,
          "temperature": 0.7
        }
      },
      "id": "75b6b02e-6662-4d67-8288-ffc161775f66",
      "name": "GPT-4o-mini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        7584,
        2496
      ],
      "credentials": {
        "openAiApi": {
          "id": "sHNKcTxbhPX7Z73K",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"subject\": {\n      \"type\": \"string\",\n      \"description\": \"Email subject line\"\n    },\n    \"body\": {\n      \"type\": \"string\",\n      \"description\": \"Email body content\"\n    }\n  },\n  \"required\": [\"subject\", \"body\"]\n}"
      },
      "id": "e326109b-1c69-4541-9b89-097dc60297db",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        7792,
        2528
      ]
    },
    {
      "parameters": {
        "jsCode": "// Encode email for Gmail API + generate outreach UUID\nconst aiOutput = $('AI Email Generator').first().json;\nconst dmData = $('Prepare Decision Maker Data').first().json;\n\n// UUID generator\nfunction generateUUID() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst emailTo = dmData.decision_maker_email;\nconst emailSubject = aiOutput.subject || 'AI Operating Model Discussion';\nconst emailBody = aiOutput.body || '';\n\n// Construct email in RFC 2822 format\nconst email = [\n  `To: ${emailTo}`,\n  `Subject: ${emailSubject}`,\n  'Content-Type: text/plain; charset=utf-8',\n  '',\n  emailBody\n].join('\\r\\n');\n\n// Base64 encode (URL-safe)\nconst encodedEmail = Buffer.from(email)\n  .toString('base64')\n  .replace(/\\+/g, '-')\n  .replace(/\\//g, '_')\n  .replace(/=+$/, '');\n\nreturn {\n  json: {\n    outreach_id: generateUUID(),\n    dm_record_id: dmData.dm_record_id,\n    company_record_id: dmData.company_record_id,\n    email_subject: emailSubject,\n    email_body: emailBody,\n    encoded_email: encodedEmail,\n    draft_created_date: new Date().toISOString()\n  }\n};"
      },
      "id": "b4f02fc5-676a-4105-b045-b7f9d236c2ef",
      "name": "Encode Email for Gmail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8096,
        2176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gmail.googleapis.com/gmail/v1/users/me/drafts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"raw\": \"{{ $json.encoded_email }}\"\n  }\n}",
        "options": {}
      },
      "id": "fe86d631-94db-4307-a6de-1fec4a270a71",
      "name": "Create Gmail Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8304,
        2176
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "xuDVkeidMXEmsPib",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_SPREADSHEET_ID",
          "cachedResultName": "AI Op Model Pipeline"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=2",
          "cachedResultName": "Outreach"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Outreach_ID": "={{ $('Encode Email for Gmail').item.json.outreach_id }}",
            "DM_Record_ID": "={{ $('Encode Email for Gmail').item.json.dm_record_id }}",
            "Company_Record_ID": "={{ $('Encode Email for Gmail').item.json.company_record_id }}",
            "Email_Subject": "={{ $('Encode Email for Gmail').item.json.email_subject }}",
            "Email_Body": "={{ $('Encode Email for Gmail').item.json.email_body }}",
            "Draft_Created": "={{ $('Encode Email for Gmail').item.json.draft_created_date }}",
            "Gmail_Draft_ID": "={{ $json.id }}",
            "Status": "Draft",
            "Sent_Date": "",
            "Last_Activity": "",
            "Response_Body": "",
            "Next_Action": "Manual_Send"
          }
        },
        "options": {}
      },
      "id": "9939a9e1-e86b-41c4-b18b-c6c4e9451536",
      "name": "Log Outreach to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        8528,
        2176
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HSKZd2nGiLCRcvQ9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## FOLLOW-UP AUTOMATION\n\n**Trigger:** Daily check (9am London time)\n\n**Google Sheets approach:**\n- Read all Outreach rows\n- Filter in Code node (can't filter in Sheets API)\n- Check Gmail for replies\n- Generate follow-ups if needed\n\n**Sequence:**\n- Day 7: Reminder\n- Day 14: Value reinforcement\n- Day 21: Final touchpoint"
      },
      "id": "e41287d6-63ce-457f-8a77-c6442851145c",
      "name": "Follow-Up Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4704,
        2576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "3ab8d830-be5f-44e6-ac30-793b24976f29",
      "name": "Daily Follow-Up Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        4704,
        2768
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_SPREADSHEET_ID",
          "cachedResultName": "AI Op Model Pipeline"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=2",
          "cachedResultName": "Outreach"
        },
        "options": {}
      },
      "id": "8e4d482b-5fee-42a2-8c4b-2b9b550c25ce",
      "name": "Read All Outreach",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4928,
        2768
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HSKZd2nGiLCRcvQ9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter outreach needing follow-up (manual filtering since Sheets API doesn't support it)\nconst items = $input.all();\nconst needsFollowup = [];\n\nfor (const item of items) {\n  const row = item.json;\n  \n  // Skip if not sent or already closed\n  if (row.Status !== 'Sent' || row.Next_Action === 'Close') {\n    continue;\n  }\n  \n  // Check if sent date is at least 7 days ago\n  if (!row.Sent_Date) continue;\n  \n  const sentDate = new Date(row.Sent_Date);\n  const now = new Date();\n  const daysSince = Math.floor((now - sentDate) / (1000 * 60 * 60 * 24));\n  \n  if (daysSince >= 7) {\n    needsFollowup.push({\n      json: {\n        ...row,\n        days_since_sent: daysSince\n      }\n    });\n  }\n}\n\nreturn needsFollowup;"
      },
      "id": "694caffa-3f45-4e6a-ab87-64e959362706",
      "name": "Filter Needs Follow-Up",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5152,
        2768
      ]
    },
    {
      "parameters": {
        "operation": "search"
      },
      "id": "0bb0d649-1afa-45a5-8337-23b169377266",
      "name": "Check Gmail for Replies",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        5376,
        2768
      ],
      "webhookId": "28a2fc0f-9f4a-4cd2-af7d-55dfb100ef6d",
      "credentials": {
        "gmailOAuth2": {
          "id": "xuDVkeidMXEmsPib",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check if there's a reply in the thread\nconst gmailResults = $input.all();\nconst outreachData = $('Filter Needs Follow-Up').first().json;\n\nconst hasReply = gmailResults.length > 1; // More than just the original sent email\n\nif (hasReply) {\n  // Found a reply - update status and skip follow-up\n  return {\n    json: {\n      outreach_id: outreachData.Outreach_ID,\n      has_reply: true,\n      action: 'mark_replied',\n      reply_body: gmailResults[gmailResults.length - 1].json.snippet\n    }\n  };\n} else {\n  // No reply - proceed with follow-up\n  const daysSinceSent = outreachData.days_since_sent;\n  \n  let sequenceNumber = 1;\n  if (daysSinceSent >= 14) sequenceNumber = 2;\n  if (daysSinceSent >= 21) sequenceNumber = 3;\n  \n  return {\n    json: {\n      outreach_id: outreachData.Outreach_ID,\n      has_reply: false,\n      action: 'create_followup',\n      sequence_number: sequenceNumber,\n      company_record_id: outreachData.Company_Record_ID,\n      dm_record_id: outreachData.DM_Record_ID,\n      original_subject: outreachData.Email_Subject,\n      original_body: outreachData.Email_Body\n    }\n  };\n}"
      },
      "id": "3a3bbc1f-9c99-4133-9a78-5deffd6f5d67",
      "name": "Determine Follow-Up Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5584,
        2768
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "follow-up-condition",
              "leftValue": "={{ $json.action }}",
              "rightValue": "create_followup",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8dc8f9bb-dca7-42ba-84c8-44c7ff9b454a",
      "name": "If Needs Follow-Up",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5808,
        2768
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get company and DM names for follow-up context\nconst followupData = $('Determine Follow-Up Action').first().json;\n\n// We need to lookup company and DM names from their record IDs\n// This requires reading from Companies and Decision_Makers sheets\n// For now, we'll use placeholder logic - in production you'd do actual lookups\n\nreturn {\n  json: {\n    ...followupData,\n    company_name: 'Company Name Placeholder',\n    decision_maker_name: 'DM Name Placeholder'\n  }\n};\n\n// NOTE: In production, add Google Sheets Read nodes to lookup:\n// - Companies sheet by Company_Record_ID\n// - Decision_Makers sheet by DM_Record_ID"
      },
      "id": "a853481b-8252-4665-9540-4bca19feac86",
      "name": "Lookup Context Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6032,
        2768
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are drafting a follow-up email for an AI Operating Model outreach.\n\n**ORIGINAL OUTREACH:**\nSubject: {{ $json.original_subject }}\nBody: {{ $json.original_body }}\n\n**FOLLOW-UP CONTEXT:**\nSequence Number: {{ $json.sequence_number }}\nCompany: {{ $json.company_name }}\nRecipient: {{ $json.decision_maker_name }}\n\n**INSTRUCTIONS:**\n\nSequence 1 (Day 7):\n- Brief, friendly reminder\n- Add one new value point not in original\n- Acknowledge they're busy\n- Simple yes/no question to reduce friction\n\nSequence 2 (Day 14):\n- Share specific case study or data point\n- Reinforce ROI (80% overhead reduction)\n- Offer alternative: async video call or written Q&A\n\nSequence 3 (Day 21):\n- Final courtesy touchpoint\n- Offer to reconnect in future\n- Leave door open without pressure\n- Include unsubscribe option\n\n**TONE:**\n- Respectful, not pushy\n- Value-focused\n- Professional courtesy\n- Assume positive intent\n\n**OUTPUT FORMAT (JSON):**\n{\n  \"subject\": \"Re: {{ $json.original_subject }}\",\n  \"body\": \"Follow-up email body (200-300 words)\"\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "1eac7909-c770-45b1-809a-e0d02e277383",
      "name": "Generate Follow-Up Email",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        6256,
        2768
      ]
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 800,
          "temperature": 0.7
        }
      },
      "id": "9d98d321-8f85-4afe-9b7d-48fbe932d937",
      "name": "GPT-4o-mini Follow-Up",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        6256,
        2960
      ],
      "credentials": {
        "openAiApi": {
          "id": "sHNKcTxbhPX7Z73K",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "={\n  \"type\": \"object\",\n  \"properties\": {\n    \"subject\": {\n      \"type\": \"string\"\n    },\n    \"body\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\"subject\", \"body\"]\n}"
      },
      "id": "e3b7cea2-6bd4-4767-bdc3-0fb173d36be7",
      "name": "Follow-Up Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        6256,
        3136
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generate UUID for follow-up record\nfunction generateUUID() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst followupEmail = $('Generate Follow-Up Email').first().json;\nconst contextData = $('Lookup Context Data').first().json;\n\nreturn {\n  json: {\n    followup_id: generateUUID(),\n    original_outreach_id: contextData.outreach_id,\n    sequence_number: contextData.sequence_number,\n    email_subject: followupEmail.subject,\n    email_body: followupEmail.body,\n    trigger_date: new Date().toISOString(),\n    status: 'Draft_Created',\n    gmail_draft_id: ''\n  }\n};"
      },
      "id": "b89af3cd-f0ce-4712-ab3d-0329d7149fab",
      "name": "Prepare Follow-Up Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6464,
        2768
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_SPREADSHEET_ID",
          "cachedResultName": "AI Op Model Pipeline"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=3",
          "cachedResultName": "Follow_Ups"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Followup_ID": "={{ $json.followup_id }}",
            "Original_Outreach_ID": "={{ $json.original_outreach_id }}",
            "Sequence_Number": "={{ $json.sequence_number }}",
            "Email_Subject": "={{ $json.email_subject }}",
            "Email_Body": "={{ $json.email_body }}",
            "Trigger_Date": "={{ $json.trigger_date }}",
            "Status": "={{ $json.status }}",
            "Gmail_Draft_ID": "={{ $json.gmail_draft_id }}"
          }
        },
        "options": {}
      },
      "id": "0a4dac4c-613a-4375-b86e-832264168e32",
      "name": "Log Follow-Up to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        6688,
        2768
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HSKZd2nGiLCRcvQ9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## WEEKLY REPORTING\n\n**Trigger:** Every Monday 9am\n\n**Google Sheets approach:**\n- Read all tabs\n- Filter by date in Code node\n- Calculate metrics\n- Generate HTML report\n- Email results\n\n**Report includes:**\n- Leads processed\n- Emails drafted/sent\n- Response rate\n- Top performers"
      },
      "id": "9aebc765-6577-405e-8b3c-3aaeffa9160e",
      "name": "Weekly Report Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4704,
        3376
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "16e3c44d-dde0-4507-a27b-f222ea48c065",
      "name": "Weekly Report Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        4704,
        3568
      ]
    },
    {
      "parameters": {
        "jsCode": "// Calculate date range for last 7 days\nconst now = new Date();\nconst weekStart = new Date(now);\nweekStart.setDate(now.getDate() - 7);\n\nreturn {\n  json: {\n    week_start: weekStart.toISOString().split('T')[0],\n    week_end: now.toISOString().split('T')[0],\n    report_date: now.toISOString()\n  }\n};"
      },
      "id": "e3b71be2-806d-47ea-ae74-3191b0aca49d",
      "name": "Set Report Date Range",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4928,
        3568
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_SPREADSHEET_ID",
          "cachedResultName": "AI Op Model Pipeline"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultName": "Companies"
        },
        "options": {}
      },
      "id": "101003fc-79f8-477e-af67-2a79e655b8b7",
      "name": "Read Companies Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        5152,
        3568
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HSKZd2nGiLCRcvQ9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_SPREADSHEET_ID",
          "cachedResultName": "AI Op Model Pipeline"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=2",
          "cachedResultName": "Outreach"
        },
        "options": {}
      },
      "id": "4bf6f7bb-8af8-4297-a3e4-4dc8ffa9c9aa",
      "name": "Read Outreach Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        5376,
        3568
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HSKZd2nGiLCRcvQ9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate weekly report summary with manual filtering\nconst allCompanies = $('Read Companies Sheet').all();\nconst allOutreach = $('Read Outreach Sheet').all();\nconst dateRange = $('Set Report Date Range').first().json;\n\nconst weekStartDate = new Date(dateRange.week_start);\n\n// Filter companies uploaded this week\nconst companies = allCompanies.filter(item => {\n  const uploadDate = new Date(item.json.Upload_Date);\n  return uploadDate >= weekStartDate;\n});\n\n// Filter outreach created this week\nconst outreach = allOutreach.filter(item => {\n  const draftDate = new Date(item.json.Draft_Created);\n  return draftDate >= weekStartDate;\n});\n\n// Calculate metrics\nconst totalLeads = companies.length;\nconst emailsDrafted = outreach.length;\nconst emailsSent = outreach.filter(o => o.json.Status === 'Sent').length;\nconst repliesReceived = outreach.filter(o => o.json.Status === 'Replied').length;\nconst responseRate = emailsSent > 0 ? ((repliesReceived / emailsSent) * 100).toFixed(1) : 0;\n\n// Top performers (highest lead scores)\nconst topPerformers = companies\n  .filter(c => c.json.Lead_Score)\n  .sort((a, b) => parseFloat(b.json.Lead_Score) - parseFloat(a.json.Lead_Score))\n  .slice(0, 5)\n  .map(c => ({\n    company: c.json.Company_Name,\n    score: c.json.Lead_Score,\n    tier: c.json.Priority_Tier\n  }));\n\n// Build report HTML\nconst reportHTML = `\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; max-width: 800px; margin: 20px auto; }\n    h1 { color: #2c3e50; border-bottom: 3px solid #3498db; padding-bottom: 10px; }\n    .metric { background: #ecf0f1; padding: 15px; margin: 10px 0; border-radius: 5px; }\n    .metric-value { font-size: 32px; font-weight: bold; color: #3498db; }\n    .metric-label { font-size: 14px; color: #7f8c8d; }\n    table { width: 100%; border-collapse: collapse; margin: 20px 0; }\n    th, td { padding: 12px; text-align: left; border-bottom: 1px solid #ddd; }\n    th { background-color: #3498db; color: white; }\n    .hot { color: #e74c3c; font-weight: bold; }\n    .warm { color: #f39c12; font-weight: bold; }\n    .cold { color: #95a5a6; }\n  </style>\n</head>\n<body>\n  <h1>AI Op Model - Weekly Pipeline Report</h1>\n  <p><strong>Period:</strong> ${dateRange.week_start} to ${dateRange.week_end}</p>\n  \n  <div style=\"display: grid; grid-template-columns: repeat(3, 1fr); gap: 15px;\">\n    <div class=\"metric\">\n      <div class=\"metric-value\">${totalLeads}</div>\n      <div class=\"metric-label\">Leads Processed</div>\n    </div>\n    <div class=\"metric\">\n      <div class=\"metric-value\">${emailsDrafted}</div>\n      <div class=\"metric-label\">Emails Drafted</div>\n    </div>\n    <div class=\"metric\">\n      <div class=\"metric-value\">${emailsSent}</div>\n      <div class=\"metric-label\">Emails Sent</div>\n    </div>\n    <div class=\"metric\">\n      <div class=\"metric-value\">${repliesReceived}</div>\n      <div class=\"metric-label\">Replies Received</div>\n    </div>\n    <div class=\"metric\">\n      <div class=\"metric-value\">${responseRate}%</div>\n      <div class=\"metric-label\">Response Rate</div>\n    </div>\n  </div>\n  \n  <h2>Top Priority Leads</h2>\n  <table>\n    <thead>\n      <tr>\n        <th>Company</th>\n        <th>Score</th>\n        <th>Priority</th>\n      </tr>\n    </thead>\n    <tbody>\n      ${topPerformers.map(tp => `\n        <tr>\n          <td>${tp.company}</td>\n          <td>${tp.score}/100</td>\n          <td class=\"${(tp.tier || '').toLowerCase()}\">${tp.tier}</td>\n        </tr>\n      `).join('')}\n    </tbody>\n  </table>\n  \n  <h2>Next Actions</h2>\n  <ul>\n    <li>Review and send ${emailsDrafted - emailsSent} pending Gmail drafts</li>\n    <li>Follow up on ${emailsSent - repliesReceived} non-responders after 7 days</li>\n    <li>Upload new leads to continue pipeline momentum</li>\n  </ul>\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    report_date: dateRange.report_date,\n    week_start: dateRange.week_start,\n    week_end: dateRange.week_end,\n    total_leads_processed: totalLeads,\n    emails_drafted: emailsDrafted,\n    emails_sent: emailsSent,\n    replies_received: repliesReceived,\n    response_rate: parseFloat(responseRate),\n    top_performers: JSON.stringify(topPerformers),\n    report_html: reportHTML\n  }\n};"
      },
      "id": "094d3adc-1625-4ee5-80d9-fde5e3bed0b5",
      "name": "Generate Report Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5584,
        3568
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_SPREADSHEET_ID",
          "cachedResultName": "AI Op Model Pipeline"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=4",
          "cachedResultName": "Weekly_Reports"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Report_Date": "={{ $json.report_date }}",
            "Week_Start": "={{ $json.week_start }}",
            "Week_End": "={{ $json.week_end }}",
            "Total_Leads_Processed": "={{ $json.total_leads_processed }}",
            "Emails_Drafted": "={{ $json.emails_drafted }}",
            "Emails_Sent": "={{ $json.emails_sent }}",
            "Replies_Received": "={{ $json.replies_received }}",
            "Response_Rate": "={{ $json.response_rate }}",
            "Top_Performers": "={{ $json.top_performers }}",
            "Report_HTML": "={{ $json.report_html }}"
          }
        },
        "options": {}
      },
      "id": "3a09f93f-c275-45d5-8797-7eb3f8b7f637",
      "name": "Save Report to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        5808,
        3568
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HSKZd2nGiLCRcvQ9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "craig@carbonandcode.com",
        "subject": "=AI Op Model - Weekly Pipeline Report ({{ $json.week_start }} to {{ $json.week_end }})",
        "message": "={{ $json.report_html }}",
        "options": {}
      },
      "id": "2da44f76-0d19-44c3-963c-7feb6fc7f630",
      "name": "Email Weekly Report",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        6032,
        3568
      ],
      "webhookId": "8720a929-b816-46bd-b15f-35dd30c577af",
      "credentials": {
        "gmailOAuth2": {
          "id": "xuDVkeidMXEmsPib",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"parameters\": {\n    \"method\": \"POST\",\n    \"url\": \"https://api.tavily.com/search\",\n    \"authentication\": \"genericCredentialType\",\n    \"genericAuthType\": \"httpHeaderAuth\",\n    \"sendBody\": true,\n    \"specifyBody\": \"json\",\n    \"jsonBody\": \"={\\n  \\\"api_key\\\": \\\"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\\\",\\n  \\\"query\\\": \\\"{{ $('Extract Company Data').item.json.company_name }} AI transformation consulting digital strategy news 2024 2025\\\",\\n  \\\"search_depth\\\": \\\"advanced\\\",\\n  \\\"max_results\\\": 5\\n}\",\n    \"options\": {}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6224,
        2160
      ],
      "id": "eea4a97e-b6c4-47cd-9ece-225d9243a76f",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "kgW6psgN1VS5TXcR",
          "name": "Tavily"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Watch Drive Folder": {
      "main": [
        [
          {
            "node": "Download Lead File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Lead File": {
      "main": [
        [
          {
            "node": "Move to Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to Processing": {
      "main": [
        [
          {
            "node": "Parse CSV/Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CSV/Excel": {
      "main": [
        [
          {
            "node": "Validate & Clean Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Clean Leads": {
      "main": [
        [
          {
            "node": "Write to Sheets - Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write to Sheets - Companies": {
      "main": [
        [
          {
            "node": "Extract Company Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Decision Makers - Hunter": {
      "main": [
        [
          {
            "node": "Process Enrichment Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Enrichment Data": {
      "main": [
        [
          {
            "node": "Update Company Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Company Record": {
      "main": [
        [
          {
            "node": "Loop Decision Makers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Decision Makers": {
      "main": [
        [],
        [
          {
            "node": "Prepare Decision Maker Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Decision Maker Data": {
      "main": [
        [
          {
            "node": "Write Decision Maker to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Decision Maker to Sheets": {
      "main": [
        [
          {
            "node": "AI Email Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Email Generator": {
      "main": [
        [
          {
            "node": "Encode Email for Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o-mini Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Email Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Email Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Encode Email for Gmail": {
      "main": [
        [
          {
            "node": "Create Gmail Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Gmail Draft": {
      "main": [
        [
          {
            "node": "Log Outreach to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Outreach to Sheets": {
      "main": [
        [
          {
            "node": "Loop Decision Makers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Follow-Up Check": {
      "main": [
        [
          {
            "node": "Read All Outreach",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read All Outreach": {
      "main": [
        [
          {
            "node": "Filter Needs Follow-Up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Needs Follow-Up": {
      "main": [
        [
          {
            "node": "Check Gmail for Replies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Gmail for Replies": {
      "main": [
        [
          {
            "node": "Determine Follow-Up Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Follow-Up Action": {
      "main": [
        [
          {
            "node": "If Needs Follow-Up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Needs Follow-Up": {
      "main": [
        [
          {
            "node": "Lookup Context Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Context Data": {
      "main": [
        [
          {
            "node": "Generate Follow-Up Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Follow-Up Email": {
      "main": [
        [
          {
            "node": "Prepare Follow-Up Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o-mini Follow-Up": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Follow-Up Email",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Follow-Up Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Follow-Up Email",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Follow-Up Data": {
      "main": [
        [
          {
            "node": "Log Follow-Up to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Report Trigger": {
      "main": [
        [
          {
            "node": "Set Report Date Range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Report Date Range": {
      "main": [
        [
          {
            "node": "Read Companies Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Companies Sheet": {
      "main": [
        [
          {
            "node": "Read Outreach Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Outreach Sheet": {
      "main": [
        [
          {
            "node": "Generate Report Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Report Data": {
      "main": [
        [
          {
            "node": "Save Report to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Report to Sheets": {
      "main": [
        [
          {
            "node": "Email Weekly Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Company Data": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Find Decision Makers - Hunter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "1b0aec07-fc06-4112-9d92-5e84b23ed08e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "573596b0d841eea28abd55273482a04618db2cede52284071b1cccb7e54d0cd7"
  },
  "id": "Zvcdxj3TuNUXTwh1",
  "tags": []
}