workflows/twitter-mcp-tools.json
{
  "name": "Twitter MCP Tools",
  "nodes": [
    {
      "parameters": {},
      "id": "7615ed87-22e0-4130-82b6-3890d16a6c67",
      "name": "Workflow Trigger",
      "type": "n8n-nodes-base.workflowTrigger",
      "typeVersion": 1,
      "position": [
        -820,
        -40
      ]
    },
    {
      "parameters": {
        "functionCode": "const input = items[0]?.json || {};\nconst tasks = Array.isArray(input.tasks) ? input.tasks : [];\nconst store = this.getWorkflowStaticData('global');\nstore.tasks = tasks;\nreturn [{ json: { domain: input.domain || 'twitter', tasks } }];"
      },
      "id": "ae7da746-bd95-4789-a542-b3e25b64ddeb",
      "name": "Function - Extract Tasks",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        -600,
        -40
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.tasks.length}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "0392d365-5265-4730-b5a0-4024fb19d124",
      "name": "IF - Has Tasks",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -420,
        -40
      ]
    },
    {
      "parameters": {
        "functionCode": "const tasks = items[0].json.tasks || [];\nreturn tasks.map(task => ({ json: task }));"
      },
      "id": "c50eadac-8372-4d39-9dc1-79cfb1c8b925",
      "name": "Function - Fan Out",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        -220,
        -140
      ]
    },
    {
      "parameters": {
        "propertyName": "action",
        "dataType": "string",
        "rules": [
          {
            "operation": "equal",
            "value": "post_tweet"
          },
          {
            "operation": "equal",
            "value": "send_dm"
          },
          {
            "operation": "equal",
            "value": "search_mentions"
          },
          {
            "operation": "equal",
            "value": "refresh_metrics"
          }
        ]
      },
      "id": "3b70b800-52a5-419b-a9b7-09d16d6f0b35",
      "name": "Switch - Route Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [
        0,
        -140
      ]
    },
    {
      "parameters": {
        "resource": "tweet",
        "operation": "create",
        "text": "={{$json.metadata.body}}",
        "additionalFields": {
          "mediaIds": "={{$json.metadata.mediaIds}}",
          "replyToTweetId": "={{$json.metadata.replyTo}}"
        }
      },
      "id": "303591c6-1551-4fdf-95a0-4e21867d50ba",
      "name": "Twitter - Post Tweet",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        220,
        -320
      ]
    },
    {
      "parameters": {
        "resource": "directMessage",
        "operation": "create",
        "recipientId": "={{$json.metadata.recipientId}}",
        "text": "={{$json.metadata.body}}"
      },
      "id": "8d754c50-a6ca-4886-8eb9-e4c07c61d116",
      "name": "Twitter - Send DM",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        220,
        -160
      ]
    },
    {
      "parameters": {
        "resource": "tweet",
        "operation": "search",
        "query": "={{$json.metadata.query || `@${$env.TWITTER_HANDLE}`}}",
        "returnAll": false,
        "limit": "={{$json.metadata.limit || 20}}"
      },
      "id": "6bd87f29-f696-4e79-9a6e-a4da30fe48f7",
      "name": "Twitter - Search Mentions",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "resource": "tweet",
        "operation": "get",
        "tweetId": "={{$json.metadata.tweetId}}"
      },
      "id": "bc1493f3-d3a5-47c7-a42b-022dd92df8f3",
      "name": "Twitter - Refresh Metrics",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        220,
        160
      ]
    },
    {
      "parameters": {
        "functionCode": "const store = this.getWorkflowStaticData('global');\nreturn items.map(item => {\n  const index = item.pairedItem?.item ?? 0;\n  const source = store.tasks?.[index] || {};\n  return { json: { domain: source.domain || 'twitter', action: source.action, task: source, result: item.json } };\n});"
      },
      "id": "8f1c1312-5356-48ad-a306-9a76b1b31f6a",
      "name": "Function - Format Action Result",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        460,
        -120
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "domain",
              "value": "twitter"
            }
          ],
          "json": [
            {
              "name": "result",
              "value": "={\"status\":\"skipped\",\"reason\":\"No Twitter tasks queued.\"}"
            }
          ]
        }
      },
      "id": "f3962eeb-58e6-4fda-8905-1ace7538cfb9",
      "name": "Set - No Tasks",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -220,
        60
      ]
    }
  ],
  "connections": {
    "Workflow Trigger": {
      "main": [
        [
          {
            "node": "Function - Extract Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Extract Tasks": {
      "main": [
        [
          {
            "node": "IF - Has Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Has Tasks": {
      "main": [
        [
          {
            "node": "Function - Fan Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set - No Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Fan Out": {
      "main": [
        [
          {
            "node": "Switch - Route Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Route Action": {
      "main": [
        [
          {
            "node": "Twitter - Post Tweet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Twitter - Send DM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Twitter - Search Mentions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Twitter - Refresh Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twitter - Post Tweet": {
      "main": [
        [
          {
            "node": "Function - Format Action Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twitter - Send DM": {
      "main": [
        [
          {
            "node": "Function - Format Action Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twitter - Search Mentions": {
      "main": [
        [
          {
            "node": "Function - Format Action Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twitter - Refresh Metrics": {
      "main": [
        [
          {
            "node": "Function - Format Action Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - No Tasks": {
      "main": [
        [
          {
            "node": "Function - Format Action Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}